.navBar {
  border: groove;
  border-radius: 15px;
  align-items: center;
  margin: 5px 30px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin: 10px 10vw 10px;
}

.logo-img {
  max-width: 100%;
  height: auto;
  max-height: 100px;
}

.header {
  margin: 0px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: groove;
  border-radius: 15px;
}

.logo-and-profile-icon {
}
